<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029040777503-nsqo97f5fesrfoiaqlmdtk7koels7joi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029040777503-nsqo97f5fesrfoiaqlmdtk7koels7joi</string>
	<key>API_KEY</key>
	<string>AIzaSyA0FWlf6HMsPTSBLTN9XIKed-13MN9-elc</string>
	<key>GCM_SENDER_ID</key>
	<string>1029040777503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michsajorda.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-66b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-66b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029040777503:ios:ba376360047a06af92e82a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-66b2a.firebaseio.com</string>
</dict>
</plist>